body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

#search {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#medicineSearch {
  width: 300px;
  padding: 0.5em;
  margin-right: 0.5em;
}

#searchButton {
  padding: 0.5em;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#results {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #007bff;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}